body {
    text-align: center;
    background: repeating-linear-gradient(
        45deg,
        rgb(206, 161, 107) 0px,
        rgb(30, 13, 3) 80px,
        rgb(30, 13, 3) 80px,
        rgb(206, 161, 107) 160px
      );
      font-family: sans-serif;
}
p {
    display: block;
    margin: 0px 0px 0px 0px;
    padding: 6px 0px 0px 40px;
}
#main{
    margin: auto;
    padding: 0px 0px 30px 0px;
    border-radius: 10px;
    background: rgb(202, 171, 133);
    width: 75%;
    border-color: black;
    border-style: solid;
}
#title{
    font-size: 36px;
    font-weight: bold;
    display: block;
    margin: 0px 0px 20px 0px;
    padding: 30px 0px 0px 0px;
}
#img-div{
    background: rgb(233, 208, 178);
    padding: 10px;
    margin: 0;
}
#image{
    margin: auto;
    height: 500px;
    height: 500px;
    border-radius: 10px;
}
img{
    max-width: 100%;
    height: auto;
    display: block;
}
#img-caption{
    margin: 15px 0 5px 0;
}
#tribute-info{

}
#tribute-link{

}
li {
    margin: 16px 0px 16px 0px;
}
ul {
    max-width: 550px;
    text-align: left;
    margin: 0 auto 50px auto;
}